<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About US</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-card>
            <p class="set">
                IB cabs is one of the popular domestic car rental service having its registered office in South Kolkata, West bengal and neighbouring states.We have experienced chauffers having sound knowledge of traffic rules and kolkata roads. You can book your cabs
                through our website registration system.
                <br><br> Our executive will contact you within 24 hours after getting your request. Look out for our "POINT TO POINT" car rental package services Thank You and wish you a Nice Journey.
            </p>
        </ion-card>
    </div>
</ion-content>