<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="!showParking">KM Reading</ion-title>
        <ion-title *ngIf="showParking">Parking</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-card>
            <form ngNativeValidate (submit)="updateduty()" style="height: 150px;">

                <input *ngIf="!showParking" matInput name="billto" [(ngModel)]="kmreading" type="number" class="form-control km-text" placeholder="Enter KM Reading">
                <input *ngIf="showParking" matInput name="parking" [(ngModel)]="parking" type="number" class="form-control km-text" placeholder="Enter Parking">
                <br>

                <button *ngIf="showParkingBtn" (click)="showpark()" class="btn btn-primary btn-lg btn-save">Save</button>
                <button *ngIf="!showParkingBtn" type="submit" class="btn btn-primary btn-lg btn-save">Save</button>

            </form>
        </ion-card>
    </div>
</ion-content>